*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}
body{
    width: 60%;
    margin: 2em auto;
    background-color: aliceblue;
}

h1{
    padding-bottom: 0.5em;
}
footer{
    padding-top: 5em;
}

input, select{
    border-radius: 50px;
    padding: 0 1em;
    width: 250px;
    height: 2.5em;
}

p{
    line-height: 2.8em;
    font-weight: bold;
    font-size: 1.2em;
}

p > i{
    color: rgb(53, 9, 75);
    padding-left: 0.2em;
    font-size: 1.4em ;

}


#resultado {
    display:none;
}